{% extends 'base.html.twig' %}

{% block title %}ListaEmpilhadeira{% endblock %}

{% block body %}
    <h1>ListaEmpilhadeira</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lista_empilhadeira.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('lista_empilhadeira_index') }}">back to list</a>

    <a href="{{ path('lista_empilhadeira_edit', {'id': lista_empilhadeira.id}) }}">edit</a>

    {{ include('lista_empilhadeira/_delete_form.html.twig') }}
{% endblock %}
