{% extends 'base.html.twig' %}

{% block title %}Edit ModeloEmpilhadeira{% endblock %}

{% block body %}
    <h1>Edit ModeloEmpilhadeira</h1>

    {{ include('modelo_empilhadeira/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('modelo_empilhadeira_index') }}">back to list</a>

    {{ include('modelo_empilhadeira/_delete_form.html.twig') }}
{% endblock %}
