{% extends 'base.html.twig' %}

{% block content %}
<br>

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
{#        <h1 class="h3 mb-0 text-gray-800">Novo modelo de máquina</h1>#}

    </div>

    {{ include('modelo_empilhadeira/_form.html.twig') }}

    <a href="{{ path('modelo_empilhadeira_index') }}">Voltar</a>
</div>



{% endblock %}
