<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ asset('build/style.css') }}">
{#        <link rel="shortcut icon" href="../images/Logo_Cristovao_Empilhadeiras_LTDA.ico"/>#}
        {% block favicon %}<link rel="shortcut icon" href="/images/Logo_Cristovao_Empilhadeiras_LTDA.ico" />{% endblock %}
        <title>{% block title %}Cristovão Empilhadeiras{% endblock %}</title>

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}

    </head>
    <body>
        {% block header %}
            <div style="position: relative; height: 90px; background-color: #333; color: white">
                <header style="position: absolute; top: 0; left: 0; display: flex;  align-items: center; justify-content: center; padding: 5px; width: 100%; height: 100%;">
                    <img src="/images/Logo_Cristovao_Empilhadeiras_LTDA.jpg" alt="Logo da Empresa" class="logo" style="height: 80px; margin-right: 30px;">
                    <h3 class="titulo">CRISTOVÃO EMPILHADEIRAS LTDA - SISTEMA DE MONITORAMENTO</h3>
                </header>
            </div>
{#            <header style="background-color: #333; color: white; text-align: center; padding: 20px; position: fixed; bottom: 0; width: 100%;">#}
{#                <img src="images/Logo_Cristovao_Empilhadeiras_LTDA.jpg" alt="Logo da Empresa" class="logo">#}
{#                <h1 class="titulo">Nome da Empresa</h1>#}
{#            </header>#}
        {% endblock %}

        {% block body %}        {% endblock %}

        {% block footer %}
            <footer style="background-color: #333; color: white; text-align: center; padding: 20px; position: fixed; bottom: 0; width: 100%;">
                <p class="mensagem">© 2025 Projeto PI do curso 'Ciência da Computação' do Centro Universitário FAM. Todos os direitos reservados.</p>
            </footer>
        {% endblock %}

    </body>
</html>
