<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ asset('build/style.css') }}">
        {% block favicon %}<link rel="shortcut icon" href="/images/EMPSYS_logo.png" />{% endblock %}
        <title>{% block title %}EMPSYS{% endblock %}</title>
        <!-- Custom fonts for this template-->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="css/sb-admin-2.min.css" rel="stylesheet">
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block header %}
{#            <div style="position: relative; height: 90px; background-color: #2F4F6F; color: #F9FAFB">#}
{#                <header style="position: absolute; top: 0; left: 0; display: flex;  align-items: center; justify-content: center; padding: 5px; width: 100%; height: 100%;">#}
{#                    <img src="/images/EMPSYS_logo.png" alt="Logo EMPSYS" class="logo" style="height: 80px; margin-right: 30px;">#}
{#                    <h3 class="titulo">EMPSYS: SISTEMA DE MONITORAMENTO DE MÁQUINAS</h3>#}
{#                </header>#}
{#            </div>#}
        {% endblock %}

        {% block body %}
            {% block navbar_collapse %}
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container">
                    <!-- Logo -->
                    <a class="navbar-brand" href="#">EMPSYS</a>
                    <!-- Botão para menu colapsável em telas menores -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alternar navegação">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Links da Navbar -->
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Início</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sobre</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Empilhadeiras</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Relatórios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Configurações</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            {% endblock navbar_collapse %}



        {% endblock %}

        {% block footer %}
            <footer style="background-color: #4B5563; color: #E5E7EB; text-align: center; padding: 10px; position: fixed; bottom: 0; width: 100%;">
                <p class="mensagem">© 2025 Projeto PI - 7° semestre do curso 'Ciência da Computação' do Centro Universitário FAM. Todos os direitos reservados.</p>
            </footer>
        {% endblock %}
    </body>
</html>
